/* Sélecteur pour la couleur de fond */
body {
    background-color: #f10707;
  }
  
  /* Sélecteur pour le titre */
  h1 {
    color: #ffffff;
    background-color: #1408b4;
    padding: 10px;
  }
  
  /* Sélecteur pour le sous-titre */
  h2 {
    color: #f5efef;
  }
  
  /* Sélecteur pour les informations personnelles */
  #info {
    border: 3px solid #f7f3f3;
    padding: 10px;
  }
  
  /* Sélecteur pour les compétences */
  ul li strong {
    color: #0a17ce;
  }
  
  /* Sélecteur pour les expériences professionnelles */
  #experience {
    border: 3px solid #f8f5f5;
    padding: 10px;
  }
  